body,
html {
  width: 500px;
  height: 500px;
  margin: 0;
  padding: 0;
  font-family: 'Atma', sans-serif;
  background-color: #ffe8be;
}

.select button {
  outline: none;
  border: none;
  padding: 6px;
  font-family: 'Atma', sans-serif;
  margin: 3px;
  font-size: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  opacity:0.6;
  height: 24px;
}
#op {
  transition-duration: 0.15s;
}
#op:hover {
  scale:1.1;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.option {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.option p {
  margin-bottom:2px;
  margin-top:2px;
  font-size:17px;
}
.option .switch {

}

input:checked+.slider {
  background-color: rgb(48, 180, 48);
}

input:focus+.slider {
  box-shadow: 0 0 1px rgb(48, 161, 48);
}

input:checked+.slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 5px;
}

.slider.round:before {
  border-radius: 5px;
}